In [1]:
import numpy as np
import pandas as pd
import time
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.decomposition import NMF
from gensim.models import CoherenceModel
import gensim
from gensim.models.ldamodel import LdaModel as LDA
from sklearn.metrics import normalized_mutual_info_score, f1_score, accuracy_score, confusion_matrix
from sklearn.datasets import fetch_20newsgroups
from sklearn.preprocessing import LabelEncoder
from scipy.optimize import linear_sum_assignment
import matplotlib.pyplot as plt

In [36]:
# For 20 Newsgroups dataset
newsgroups_train = fetch_20newsgroups(subset='train')

# Convert the newsgroups data into a pandas DataFrame with 'content' and 'category' columns
df_newsgroups_train = pd.DataFrame({
    'content': newsgroups_train.data,    
    'category': newsgroups_train.target  
})

df_labels = df_newsgroups_train['category']  
df_texts = df_newsgroups_train['content']

# Display the first few rows to check the structure
print(df_newsgroups_train.head())

                                             content  category
0  From: lerxst@wam.umd.edu (where's my thing)\nS...         7
1  From: guykuo@carson.u.washington.edu (Guy Kuo)...         4
2  From: twillis@ec.ecn.purdue.edu (Thomas E Will...         4
3  From: jgreen@amber (Joe Green)\nSubject: Re: W...         1
4  From: jcm@head-cfa.harvard.edu (Jonathan McDow...        14

In [3]:
from collections import Counter
Counter(df_labels)

Counter({10: 600,
         15: 599,
         8: 598,
         9: 597,
         11: 595,
         7: 594,
         13: 594,
         14: 593,
         5: 593,
         2: 591,
         12: 591,
         3: 590,
         6: 585,
         1: 584,
         4: 578,
         17: 564,
         16: 546,
         0: 480,
         18: 465,
         19: 377})

In [4]:
import re
import string
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')

# Get the list of English stopwords
stop_words = set(stopwords.words('english')) 

# Define the preprocessing function
def preprocess_text(text):
    # Remove punctuation using regex
    text = text.lower()
    text = re.sub(f"[{re.escape(string.punctuation)}]", "", text) 
    
    # Tokenize words, remove stopwords, and convert back to string
    words = text.split() 
    words = [word for word in words if word.lower() not in stop_words]  
    
    # Return preprocessed text as a single string
    return " ".join(words)

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/patsias/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [37]:
df_newsgroups_train

                                                 content  category
0      From: lerxst@wam.umd.edu (where's my thing)\nS...         7
1      From: guykuo@carson.u.washington.edu (Guy Kuo)...         4
2      From: twillis@ec.ecn.purdue.edu (Thomas E Will...         4
3      From: jgreen@amber (Joe Green)\nSubject: Re: W...         1
4      From: jcm@head-cfa.harvard.edu (Jonathan McDow...        14
...                                                  ...       ...
11309  From: jim.zisfein@factory.com (Jim Zisfein) \n...        13
11310  From: ebodin@pearl.tufts.edu\nSubject: Screen ...         4
11311  From: westes@netcom.com (Will Estes)\nSubject:...         3
11312  From: steve@hcrlgw (Steven Collins)\nSubject: ...         1
11313  From: gunning@cco.caltech.edu (Kevin J. Gunnin...         8

[11314 rows x 2 columns]

In [38]:
import re
df_newsgroups_train['preprocessed_text'] = df_newsgroups_train['content'].apply(preprocess_text)

In [39]:
df_newsgroups_train

,content,category,preprocessed_text
0,From: lerxst@wam.umd.edu (where's my thing)\nS...,7,lerxstwamumdedu wheres thing subject car nntpp...
1,From: guykuo@carson.u.washington.edu (Guy Kuo)...,4,guykuocarsonuwashingtonedu guy kuo subject si ...
2,From: twillis@ec.ecn.purdue.edu (Thomas E Will...,4,twillisececnpurdueedu thomas e willis subject ...
3,From: jgreen@amber (Joe Green)\nSubject: Re: W...,1,jgreenamber joe green subject weitek p9000 org...
4,From: jcm@head-cfa.harvard.edu (Jonathan McDow...,14,jcmheadcfaharvardedu jonathan mcdowell subject...
...,...,...,...
11309,From: jim.zisfein@factory.com (Jim Zisfein) \n...,13,jimzisfeinfactorycom jim zisfein subject migra...
11310,From: ebodin@pearl.tufts.edu\nSubject: Screen ...,4,ebodinpearltuftsedu subject screen death mac p...
11311,From: westes@netcom.com (Will Estes)\nSubject:...,3,westesnetcomcom estes subject mounting cpu coo...
11312,From: steve@hcrlgw (Steven Collins)\nSubject: ...,1,stevehcrlgw steven collins subject sphere 4 po...
11313,From: gunning@cco.caltech.edu (Kevin J. Gunnin...,8,gunningccocaltechedu kevin j gunning subject s...

In [40]:
df_newsgroups_train['tok'] = df_newsgroups_train['preprocessed_text'].apply(lambda x: set(x.split()))

In [41]:
df_newsgroups_train

,content,category,preprocessed_text,tok
0,From: lerxst@wam.umd.edu (where's my thing)\nS...,7,lerxstwamumdedu wheres thing subject car nntpp...,"{years, anyone, name, early, late, 60s, made, ..."
1,From: guykuo@carson.u.washington.edu (Guy Kuo)...,4,guykuocarsonuwashingtonedu guy kuo subject si ...,"{message, shelley1qvfo9innc3s, floppies, two, ..."
2,From: twillis@ec.ecn.purdue.edu (Thomas E Will...,4,twillisececnpurdueedu thomas e willis subject ...,"{twillisececnpurdueedu, back, time, purdue, us..."
3,From: jgreen@amber (Joe Green)\nSubject: Re: W...,1,jgreenamber joe green subject weitek p9000 org...,"{anyone, fill, id, article, jgreenamber, like,..."
4,From: jcm@head-cfa.harvard.edu (Jonathan McDow...,14,jcmheadcfaharvardedu jonathan mcdowell subject...,"{software, previously, ok, pack, shuttle, clea..."
...,...,...,...,...
11309,From: jim.zisfein@factory.com (Jim Zisfein) \n...,13,jimzisfeinfactorycom jim zisfein subject migra...,"{migraine, years, died, try, factorys, never, ..."
11310,From: ebodin@pearl.tufts.edu\nSubject: Screen ...,4,ebodinpearltuftsedu subject screen death mac p...,"{logic, blanking, need, 22, physical, jolt, wi..."
11311,From: westes@netcom.com (Will Estes)\nSubject:...,3,westesnetcomcom estes subject mounting cpu coo...,"{pins, work, pl8, back, ensure, tried, case, m..."
11312,From: steve@hcrlgw (Steven Collins)\nSubject: ...,1,stevehcrlgw steven collins subject sphere 4 po...,"{bolsoncarsonuwashingtonedu, 4, edward, far, b..."
11313,From: gunning@cco.caltech.edu (Kevin J. Gunnin...,8,gunningccocaltechedu kevin j gunning subject s...,"{pasadena, session, see, serial, 2101240, inst..."

In [43]:
newsgroups_test = fetch_20newsgroups(subset='test')
# Convert the newsgroups data into a pandas DataFrame with 'content' and 'category' columns
df_newsgroups_test = pd.DataFrame({
    'content': newsgroups_test.data,    
    'category': newsgroups_test.target  
})

In [52]:
df_newsgroups_test['preprocessed_text'] = df_newsgroups_test['content'].apply(preprocess_text)
df_newsgroups_test['tok'] = df_newsgroups_test['preprocessed_text'].apply(lambda x: set(x.split()))

In [53]:
from sklearn.model_selection import train_test_split

# Create a new column indicating 'train' or 'test'
df_newsgroups_train['div'] = 'train'
df_newsgroups_test['div'] = 'test'


# Concatenate the two sets back into a single DataFrame
df_newsgroups_split = pd.concat([df_newsgroups_train, df_newsgroups_test])

# Optional: Reset index if needed
df_newsgroups_split = df_newsgroups_split.reset_index(drop=True)

In [54]:
df_newsgroups_split

,content,category,preprocessed_text,tok,div
0,From: lerxst@wam.umd.edu (where's my thing)\nS...,7,lerxstwamumdedu wheres thing subject car nntpp...,"{years, anyone, name, early, late, 60s, made, ...",train
1,From: guykuo@carson.u.washington.edu (Guy Kuo)...,4,guykuocarsonuwashingtonedu guy kuo subject si ...,"{message, shelley1qvfo9innc3s, floppies, two, ...",train
2,From: twillis@ec.ecn.purdue.edu (Thomas E Will...,4,twillisececnpurdueedu thomas e willis subject ...,"{twillisececnpurdueedu, back, time, purdue, us...",train
3,From: jgreen@amber (Joe Green)\nSubject: Re: W...,1,jgreenamber joe green subject weitek p9000 org...,"{anyone, fill, id, article, jgreenamber, like,...",train
4,From: jcm@head-cfa.harvard.edu (Jonathan McDow...,14,jcmheadcfaharvardedu jonathan mcdowell subject...,"{software, previously, ok, pack, shuttle, clea...",train
...,...,...,...,...,...
18841,From: richmond@spiff.Princeton.EDU (Stupendous...,14,richmondspiffprincetonedu stupendous man subje...,"{jr, try, disk, thermal, richmondspiffprinceto...",test
18842,From: smytonj@murr11.alleg.edu (Jim Smyton)\nS...,4,smytonjmurr11allegedu jim smyton subject monit...,"{columbus, drives, ya, 432101174, nevaimpsohio...",test
18843,From: hhenderson@vax.clarku.edu\nSubject: RE: ...,9,hhendersonvaxclarkuedu subject game length bra...,"{years, opinion, 1115, oh, nichols, arguments,...",test
18844,From: b859zam@utarlg.uta.edu \nSubject: INTEL ...,6,b859zamutarlgutaedu subject intel chmos 808680...,"{work, complete, 4, 8, texas, erasable, offer,...",test
18845,From: adamsj@gtewd.mtv.gtegsc.com\nSubject: Re...,15,adamsjgtewdmtvgtegsccom subject homosexuality ...,"{nation, fairly, anyone, 103435, christians, w...",test

In [55]:
train_docs = df_newsgroups_split[df_newsgroups_split['div']=='train'].tok.to_numpy() 
dictionary = gensim.corpora.Dictionary(train_docs)

In [56]:
# assume  the dictionary looks like this: {'machine': 0, 'learning': 1, 'data': 2, 'science': 3, 'deep': 4}   The doc2bow() function will convert each document into a list of tuples: [(0, 1), (1, 1), (2, 1)]  # 'machine' appears 1 time, 'learning' appears 1 time, 'data' appears 1 time

bow_corpus = [dictionary.doc2bow(doc) for doc in df_newsgroups_split.tok]

In [57]:

df_newsgroups_split['corpus']=bow_corpus

In [58]:
df_newsgroups_split

,content,category,preprocessed_text,tok,div,corpus
0,From: lerxst@wam.umd.edu (where's my thing)\nS...,7,lerxstwamumdedu wheres thing subject car nntpp...,"{years, anyone, name, early, late, 60s, made, ...",train,"[(0, 1), (1, 1), (2, 1), (3, 1), (4, 1), (5, 1..."
1,From: guykuo@carson.u.washington.edu (Guy Kuo)...,4,guykuocarsonuwashingtonedu guy kuo subject si ...,"{message, shelley1qvfo9innc3s, floppies, two, ...",train,"[(14, 1), (29, 1), (37, 1), (38, 1), (40, 1), ..."
2,From: twillis@ec.ecn.purdue.edu (Thomas E Will...,4,twillisececnpurdueedu thomas e willis subject ...,"{twillisececnpurdueedu, back, time, purdue, us...",train,"[(13, 1), (17, 1), (24, 1), (25, 1), (29, 1), ..."
3,From: jgreen@amber (Joe Green)\nSubject: Re: W...,1,jgreenamber joe green subject weitek p9000 org...,"{anyone, fill, id, article, jgreenamber, like,...",train,"[(5, 1), (25, 1), (29, 1), (37, 1), (38, 1), (..."
4,From: jcm@head-cfa.harvard.edu (Jonathan McDow...,14,jcmheadcfaharvardedu jonathan mcdowell subject...,"{software, previously, ok, pack, shuttle, clea...",train,"[(29, 1), (38, 1), (43, 1), (50, 1), (57, 1), ..."
...,...,...,...,...,...,...
18841,From: richmond@spiff.Princeton.EDU (Stupendous...,14,richmondspiffprincetonedu stupendous man subje...,"{jr, try, disk, thermal, richmondspiffprinceto...",test,"[(5, 1), (29, 1), (31, 1), (37, 1), (38, 1), (..."
18842,From: smytonj@murr11.alleg.edu (Jim Smyton)\nS...,4,smytonjmurr11allegedu jim smyton subject monit...,"{columbus, drives, ya, 432101174, nevaimpsohio...",test,"[(12, 1), (14, 1), (25, 1), (38, 1), (50, 1), ..."
18843,From: hhenderson@vax.clarku.edu\nSubject: RE: ...,9,hhendersonvaxclarkuedu subject game length bra...,"{years, opinion, 1115, oh, nichols, arguments,...",test,"[(5, 1), (29, 1), (38, 1), (50, 1), (54, 1), (..."
18844,From: b859zam@utarlg.uta.edu \nSubject: INTEL ...,6,b859zamutarlgutaedu subject intel chmos 808680...,"{work, complete, 4, 8, texas, erasable, offer,...",test,"[(5, 1), (25, 1), (29, 1), (37, 1), (38, 1), (..."
18845,From: adamsj@gtewd.mtv.gtegsc.com\nSubject: Re...,15,adamsjgtewdmtvgtegsccom subject homosexuality ...,"{nation, fairly, anyone, 103435, christians, w...",test,"[(5, 1), (13, 1), (25, 1), (29, 1), (38, 1), (..."

In [59]:
from sklearn import metrics
def q_metrics(y_true, y_pred,my_model=None):
    contigency_matrix = metrics.cluster.contingency_matrix(y_true, y_pred)
    purity = np.sum(np.amax(contigency_matrix, axis=0)) / np.sum(contigency_matrix)
    print('purity_score:',purity)
    print('NMI:',metrics.normalized_mutual_info_score(y_true, y_pred))
    
    if my_model!=None:
        cm = CoherenceModel(model=my_model, corpus=bow_corpus, dictionary=dictionary, coherence='u_mass')
        print('Coherence:',cm.get_coherence())

In [60]:
df_newsgroups_split['label']=df_newsgroups_split.category

In [61]:
df_newsgroups_split

,content,category,preprocessed_text,tok,div,corpus,label
0,From: lerxst@wam.umd.edu (where's my thing)\nS...,7,lerxstwamumdedu wheres thing subject car nntpp...,"{years, anyone, name, early, late, 60s, made, ...",train,"[(0, 1), (1, 1), (2, 1), (3, 1), (4, 1), (5, 1...",7
1,From: guykuo@carson.u.washington.edu (Guy Kuo)...,4,guykuocarsonuwashingtonedu guy kuo subject si ...,"{message, shelley1qvfo9innc3s, floppies, two, ...",train,"[(14, 1), (29, 1), (37, 1), (38, 1), (40, 1), ...",4
2,From: twillis@ec.ecn.purdue.edu (Thomas E Will...,4,twillisececnpurdueedu thomas e willis subject ...,"{twillisececnpurdueedu, back, time, purdue, us...",train,"[(13, 1), (17, 1), (24, 1), (25, 1), (29, 1), ...",4
3,From: jgreen@amber (Joe Green)\nSubject: Re: W...,1,jgreenamber joe green subject weitek p9000 org...,"{anyone, fill, id, article, jgreenamber, like,...",train,"[(5, 1), (25, 1), (29, 1), (37, 1), (38, 1), (...",1
4,From: jcm@head-cfa.harvard.edu (Jonathan McDow...,14,jcmheadcfaharvardedu jonathan mcdowell subject...,"{software, previously, ok, pack, shuttle, clea...",train,"[(29, 1), (38, 1), (43, 1), (50, 1), (57, 1), ...",14
...,...,...,...,...,...,...,...
18841,From: richmond@spiff.Princeton.EDU (Stupendous...,14,richmondspiffprincetonedu stupendous man subje...,"{jr, try, disk, thermal, richmondspiffprinceto...",test,"[(5, 1), (29, 1), (31, 1), (37, 1), (38, 1), (...",14
18842,From: smytonj@murr11.alleg.edu (Jim Smyton)\nS...,4,smytonjmurr11allegedu jim smyton subject monit...,"{columbus, drives, ya, 432101174, nevaimpsohio...",test,"[(12, 1), (14, 1), (25, 1), (38, 1), (50, 1), ...",4
18843,From: hhenderson@vax.clarku.edu\nSubject: RE: ...,9,hhendersonvaxclarkuedu subject game length bra...,"{years, opinion, 1115, oh, nichols, arguments,...",test,"[(5, 1), (29, 1), (38, 1), (50, 1), (54, 1), (...",9
18844,From: b859zam@utarlg.uta.edu \nSubject: INTEL ...,6,b859zamutarlgutaedu subject intel chmos 808680...,"{work, complete, 4, 8, texas, erasable, offer,...",test,"[(5, 1), (25, 1), (29, 1), (37, 1), (38, 1), (...",6
18845,From: adamsj@gtewd.mtv.gtegsc.com\nSubject: Re...,15,adamsjgtewdmtvgtegsccom subject homosexuality ...,"{nation, fairly, anyone, 103435, christians, w...",test,"[(5, 1), (13, 1), (25, 1), (29, 1), (38, 1), (...",15

In [62]:

from sklearn.metrics import classification_report
df = df_newsgroups_split
TOPICS=20
def calculate_coherence_score(i, alpha, beta):
    lda_result=LDA(corpus=df[df['div']=='train']['corpus'], id2word=dictionary,
               iterations=i , num_topics=TOPICS, 
               chunksize=2000, random_state=42, gamma_threshold=0.001,
               passes=10, update_every=1,
               alpha=alpha,eta = beta)

    test_corpus_bow = df[df['div']=='test']['corpus'].to_numpy()
    test_res = lda_result[test_corpus_bow]

    pred=[]
    for x in test_res:
        x={k[0]:k[1] for k in x}
        pred.append(max(x,key=x.get) )

    y_true = df[df['div']=='test']['label'] 
    y_pred = pred
    q_metrics(y_true, y_pred)    


    cm_lda = CoherenceModel(model=lda_result,
                          dictionary=dictionary, 
                          corpus=df[(df['div']=='train')]['corpus'], 
                          texts=df[df['div']=='train']['tok'].to_numpy(), 
                          coherence='c_v')

    # get coherence value
    coherence_lda = cm_lda.get_coherence()
        
    print('coherence_lda:', coherence_lda)
    return coherence_lda





#list containing various hyperparameters
no_of_iteration = [10,30]
alpha_list = ['symmetric',0.4,0.7]
beta_list = ['auto',0.4,0.7]


for i in no_of_iteration:
    for alpha in alpha_list:
        for beta in beta_list:
            calculate_coherence_score(i, alpha, beta)  
            print(f"i : {i} ; alpha : {alpha} ; beta : {beta} ")

purity_score: 0.25385023898035053
NMI: 0.3392709871162657
coherence_lda: 0.4884788217879974
i : 10 ; alpha : symmetric ; beta : auto
purity_score: 0.11590546999468933
NMI: 0.21424102037824996
coherence_lda: 0.4684466747002494
i : 10 ; alpha : symmetric ; beta : 0.4
purity_score: 0.07448220924057355
NMI: 0.05164487239456725
coherence_lda: 0.5910782406783626
i : 10 ; alpha : symmetric ; beta : 0.7
purity_score: 0.275092936802974
NMI: 0.3390756767469277
coherence_lda: 0.46311325452506064
i : 10 ; alpha : 0.4 ; beta : auto
purity_score: 0.1618428040361126
NMI: 0.35186448816828364
coherence_lda: 0.505307452073972
i : 10 ; alpha : 0.4 ; beta : 0.4
purity_score: 0.09227296866702071
NMI: 0.11127945207276277
coherence_lda: 0.572847260675032
i : 10 ; alpha : 0.4 ; beta : 0.7
purity_score: 0.30151354221986193
NMI: 0.3696974448692568
coherence_lda: 0.41669291488330346
i : 10 ; alpha : 0.7 ; beta : auto
purity_score: 0.17100371747211895
NMI: 0.3609512340780412
coherence_lda: 0.5182334640757713
i : 10 ; alpha : 0.7 ; beta : 0.4
purity_score: 0.09984067976633032
NMI: 0.13338511425624033
coherence_lda: 0.45878232594221363
i : 10 ; alpha : 0.7 ; beta : 0.7
purity_score: 0.2579660116834838
NMI: 0.3770671064862137
coherence_lda: 0.47145317925328084
i : 30 ; alpha : symmetric ; beta : auto
purity_score: 0.145246946362188
NMI: 0.2744404099640434
coherence_lda: 0.45569101648039323
i : 30 ; alpha : symmetric ; beta : 0.4
purity_score: 0.05947955390334572
NMI: 0.012946679019121244
coherence_lda: 0.545912818365227
i : 30 ; alpha : symmetric ; beta : 0.7
purity_score: 0.26805629314922996
NMI: 0.39997728918398223
coherence_lda: 0.4823006123702537
i : 30 ; alpha : 0.4 ; beta : auto
purity_score: 0.15440785979819438
NMI: 0.35084385273739344
coherence_lda: 0.41339999287224155
i : 30 ; alpha : 0.4 ; beta : 0.4
purity_score: 0.0647902283590016
NMI: 0.026790482286884718
coherence_lda: 0.502443810723593
i : 30 ; alpha : 0.4 ; beta : 0.7
purity_score: 0.2626128518321827
NMI: 0.3875769526180308
coherence_lda: 0.46757610018538387
i : 30 ; alpha : 0.7 ; beta : auto
purity_score: 0.15865639936271905
NMI: 0.3483354340159084
coherence_lda: 0.4945586463817249
i : 30 ; alpha : 0.7 ; beta : 0.4
purity_score: 0.14816781731279874
NMI: 0.31037677686396026
coherence_lda: 0.476368570102175
i : 30 ; alpha : 0.7 ; beta : 0.7

In [64]:
# i : 10 ; alpha : 'symmetric' ; beta : 0.4 
lda_result=LDA(corpus=df[(df['div']=='train')]['corpus'], id2word=dictionary,
               iterations=10 , num_topics=TOPICS,
               chunksize=2000, random_state=42, gamma_threshold=0.001,
               passes=10, update_every=1,
               alpha= 0.7 , eta = 'auto')

test_corpus_bow = df[df['div']=='test']['corpus'].to_numpy()
test_res = lda_result[test_corpus_bow]

pred=[]
for x in test_res:
    x={k[0]:k[1] for k in x}
    pred.append(max(x,key=x.get) )

y_true = df[df['div']=='test']['label'] 
y_pred = pred
q_metrics(y_true, y_pred)


# evaluate model using Topic Coherence score
cm_lda = CoherenceModel(model=lda_result,
                          dictionary=dictionary, 
                          corpus=df[(df['div']=='train')]['corpus'], 
                          texts=df[df['div']=='train']['tok'].to_numpy(), 
                          coherence='c_v')

# get coherence value
coherence_lda = cm_lda.get_coherence()
    
print('coherence_lda:', coherence_lda)

purity_score: 0.30151354221986193
NMI: 0.3696974448692568
coherence_lda: 0.41669291488330346

In [66]:
pred_test=[]
for x in test_res:
    x={k[0]:k[1] for k in x}
    pred_test.append(max(x,key=x.get) )
    
temp = pd.DataFrame()
temp['y_true'] = y_true
temp['y_pred'] = pred_test

for i in range(TOPICS):
    print(i,'\t',Counter(temp[temp['y_pred']==i]['y_true']))

0 	 Counter({4: 116, 3: 115, 6: 14, 12: 11, 2: 7, 8: 5, 1: 4, 7: 2, 5: 1, 13: 1})
1 	 Counter({8: 6, 19: 4, 4: 3, 17: 2, 12: 1, 5: 1, 9: 1})
2 	 Counter({14: 18, 11: 4, 19: 2, 0: 2, 8: 2, 3: 1, 17: 1, 13: 1, 16: 1, 5: 1, 12: 1, 2: 1, 6: 1})
3 	 Counter({14: 44, 6: 11, 11: 5, 3: 4, 1: 4, 4: 3, 7: 2, 19: 2, 16: 1, 9: 1, 10: 1, 15: 1, 8: 1, 0: 1})
4 	 Counter({8: 5, 0: 3, 13: 1})
5 	 Counter({10: 133, 9: 36, 6: 7, 5: 2, 14: 1})
6 	 Counter({18: 38, 13: 24, 15: 7, 8: 1, 11: 1})
7 	 Counter({0: 8, 13: 7, 12: 6, 8: 5, 18: 3, 14: 3, 6: 2, 5: 1, 11: 1, 9: 1, 7: 1, 15: 1, 19: 1, 17: 1, 4: 1})
8 	 Counter({11: 196, 14: 92, 13: 66, 1: 49, 12: 41, 18: 25, 5: 19, 16: 15, 2: 12, 4: 9, 0: 7, 3: 7, 6: 6, 8: 5, 19: 4, 7: 4, 15: 3, 17: 3, 10: 1})
9 	 Counter({11: 30, 17: 5, 13: 2})
10 	 Counter({7: 318, 8: 263, 12: 148, 6: 87, 14: 64, 13: 26, 4: 22, 16: 15, 3: 14, 11: 8, 18: 4, 9: 4, 2: 3, 0: 2, 1: 2, 19: 2, 10: 1, 15: 1})
11 	 Counter({16: 50, 18: 18, 6: 10, 13: 9, 7: 8, 8: 8, 9: 5, 4: 5, 5: 3, 12: 2, 19: 2, 0: 2, 3: 2, 1: 2, 14: 2, 17: 2, 10: 1, 15: 1, 11: 1})
12 	 Counter({15: 363, 0: 251, 19: 209, 18: 90, 13: 84, 14: 69, 17: 67, 16: 64, 11: 52, 9: 18, 2: 15, 8: 12, 10: 11, 1: 7, 7: 6, 12: 6, 6: 2, 4: 2, 5: 1, 3: 1})
13 	 Counter({1: 3, 0: 2, 13: 2, 19: 1, 14: 1, 11: 1, 8: 1, 10: 1})
14 	 Counter({14: 5, 12: 1, 6: 1, 11: 1})
15 	 Counter({17: 274, 16: 126, 18: 77, 0: 20, 19: 15, 11: 9, 13: 8, 15: 6, 14: 5, 6: 4, 9: 2, 4: 2, 5: 1})
16 	 Counter()
17 	 Counter({9: 300, 10: 242, 13: 91, 16: 83, 8: 70, 14: 54, 18: 52, 11: 34, 7: 29, 4: 27, 12: 18, 2: 17, 0: 14, 17: 14, 6: 9, 3: 9, 1: 7, 5: 5, 19: 4, 15: 1})
18 	 Counter({14: 3, 11: 3})
19 	 Counter({5: 360, 2: 339, 1: 311, 3: 239, 6: 236, 4: 195, 12: 158, 13: 74, 11: 50, 14: 33, 9: 29, 7: 26, 15: 14, 8: 14, 16: 9, 10: 8, 17: 7, 0: 7, 19: 5, 18: 3})

In [67]:
topic_words=[]
for i in range(TOPICS):
    tt = lda_result.get_topic_terms(i,20)
    topic_words.append([dictionary[pair[0]] for pair in tt])
df_topwords=pd.DataFrame(topic_words)
# df_topwords=df_topwords.T
df_topwords

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,drive,lines,subject,organization,one,memory,mac,writes,system,hard,card,speed,apple,board,disk,ram,dont,use,bus,drives
1,apr,1993,message,gmt,93,inreplyto,lines,subject,organization,nntppostinghost,date,robert,19,16,14,15,mon,brian,fri,research
2,nntppostinghost,subject,organization,lines,corp,expressed,opinions,newssoftware,communications,vaxvms,vnews,141,pat,express,usa,keywords,writes,access,lab,article
3,organization,lines,subject,space,university,distribution,nasa,earth,science,engineering,pa,project,orbit,sci,sciences,mellon,carnegie,flight,station,denver
4,ed,microsystems,nc,wisconsin,sun,edward,david,wi,grateful,sphere,russell,egreeneastsuncom,dead,green,former,circle,whoever,nye,milwaukee,clinic
5,team,lines,subject,organization,game,games,university,4,3,1,play,7,6,hockey,5,season,teams,2,players,canada
6,subject,organization,lines,article,writes,univ,science,medical,soon,replyto,computer,gordon,disease,banks,pittsburgh,medicine,surrender,doctor,new,gebcspittedu
7,lines,subject,organization,institute,technology,writes,nntppostinghost,california,keith,article,guest,online,services,jon,michael,408,netcom,georgia,communication,allan
8,system,use,information,public,available,data,using,key,number,may,used,provide,us,two,order,large,also,time,systems,note
9,na,chip,lines,clipper,subject,distribution,organization,writes,encryption,government,white,article,house,secret,va,key,crypto,phone,algorithm,code
10,lines,subject,organization,writes,one,like,article,car,would,get,nntppostinghost,good,dont,new,distribution,im,much,time,power,dod
11,organization,nntppostinghost,subject,lines,university,article,usa,writes,replyto,distribution,western,case,says,oh,ohio,world,jim,reserve,would,james
12,one,people,lines,subject,would,organization,writes,dont,think,say,article,god,believe,know,way,even,like,see,many,may
13,11,xnewsreader,tin,lines,subject,organization,wrote,version,writes,article,nntppostinghost,ca,h,pl9,inc,cs,bruce,pl8,c,stephen
14,organization,subject,lines,food,adams,michael,allen,aka,im,billion,taste,msg,nsmcaauroraalaskaedu,sensitivity,high,superstition,frank,consulting,foods,go
15,government,people,us,war,lines,subject,world,country,today,rights,state,killed,children,states,israel,american,israeli,years,jews,article
16,academic,cool,motorola,johns,hopkins,computing,nuclear,chicago,cooling,tower,infrastructure,cellular,northeastern,satanic,liu,sites,actual,dave,female,tall
17,writes,organization,subject,lines,article,dont,like,get,think,one,would,good,last,going,go,time,see,even,well,know
18,illinois,u,urbana,henry,spencer,henryzootorontoedu,toronto,josh,mans,zoology,utzoohenry,kipling,sky,launch,mobile,pad,costs,advertising,photography,jbh55289uxacsouiucedu
19,subject,lines,organization,thanks,email,university,nntppostinghost,please,anyone,know,help,would,use,get,like,windows,need,using,distribution,im

In [68]:
topic_name={0:4,1:8,2:14,3:14,4:8,5:10,6:18,7:0,8:11,9:11,10:7,11:16,12:15,13:1,14:14,15:17,17:9,18:14,19:5}

y_true = df[df['div']=='test']['label'].to_list()
y_pred = [*map(topic_name.get, pred)]

q_metrics(y_true, pred)
print(classification_report(y_true,y_pred))

purity_score: 0.30151354221986193
NMI: 0.3696974448692568
              precision    recall  f1-score   support

           0       0.19      0.03      0.04       319
           1       0.25      0.01      0.01       389
           2       0.00      0.00      0.00       394
           3       0.00      0.00      0.00       392
           4       0.42      0.30      0.35       385
           5       0.17      0.91      0.29       395
           6       0.00      0.00      0.00       390
           7       0.32      0.80      0.46       396
           8       0.41      0.03      0.05       398
           9       0.28      0.76      0.41       397
          10       0.74      0.34      0.46       399
          11       0.37      0.57      0.45       396
          12       0.00      0.00      0.00       393
          13       0.00      0.00      0.00       396
          14       0.53      0.18      0.27       394
          15       0.27      0.91      0.42       398
          16       0.38      0.14      0.20       364
          17       0.50      0.73      0.59       376
          18       0.54      0.12      0.20       310
          19       0.00      0.00      0.00       251

    accuracy                           0.30      7532
   macro avg       0.27      0.29      0.21      7532
weighted avg       0.27      0.30      0.22      7532

/home/patsias/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/patsias/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/patsias/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))